<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michi-Helada</title>
</head>
<body>
    <div class="container">
        <h1>Buscar cliente</h1>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="id cliente" name="id_cliente" value="{{
                    request.form.id_cliente
                    }}">
            <input class="btn btn-default" type="submit" value="Buscar cliente">
        </form>
    </div>
</body>
</html>