<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michi-Helada</title>
</head>
<body>
    <div class="container">
        <h1>Eliminar producto</h1>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="id producto" name="id_producto" value="{{
                    request.form.id_producto
                    }}">
            <input class="btn btn-default" type="submit" value="Eliminar Producto">
        </form>
    </div>
</body>
</html>