<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michi-Helada</title>
</head>
<body>
    <div class="container">
        <h1>Eliminar cuenta</h1>
        <h3>Confirma correo y contraseña</h3>
        <form action="" method="post">
            <input type="text" placeholder="correo" name="correo" value="{{
                    request.form.correo
                    }}">
            <br>
            <input type="password" placeholder="contraseña" name="contraseña" value="{{
                    request.form.contraseña
                    }}">
            <br>
            <input class="btn btn-default" type="submit" value="Confirmar">
        </form>
    </div>
</body>
</html>