<!doctype html>
<title>{% block title %}{% endblock %} Successful register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1> Successful register!</h1>
  <ul>
    {% if  session.get('cliente.id') != None %}
      <li>Hello <span>{{ session.get('cliente_id') }}</span>

    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>