{% extends "viewUpdPass/main.html" %}
{% block titulo %}
Actualizar Vendedor
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Actualizar Contraseña</h3>
            <form action="{{url_for('actualizar_pass')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id" value="{{contrasenia[0]}}">
                <label for="pass">Contraseña</label>
                <input value="{{contrasenia[3]}}" required type="text" class="input" placeholder="Contraseña" name="pass" id="pass">
                <a href="{{url_for('passws')}}" class="button is-primary mt-2">Volver</a>
                <button type="submit" class="button is-success mt-2" onclick="showSuccessMessage()">Guardar</button>
            </form>
        </div>
    </div>
</section>
    <!--mostrar mensaje de "accion correcta" al presionar boton de Guardar-->
    <script>
        function showSuccessMessage() {
            alert('Cambio Exitoso!');
        }
    </script>
{% endblock %}